
.form-check-black .form-check-input:checked {
    background-color: black;
    border-color: black;
}

.form-check-black .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.0);
    border-color: #e9ecef;
}

.form-control.form-control-black-focus:focus {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.10);
}