
.shadow-pronounced {
    box-shadow: 0 1.25rem 3.5rem rgba(0, 0, 0, 0.5) !important;
}


.login-hover-lift {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    will-change: transform, box-shadow;
}


.login-hover-lift:hover {
    transform: scale(1.015) translateY(-4px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25) !important;

}